@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,600,700&subset=cyrillic');

body{
	margin: auto;
	max-width: 740px;
	min-width: 320px;
}

.cat{
	height: 120px;
	width: 140px;
}

.cat-footer{
	width: 140px;
}

.navigation a{
	text-decoration: none;
}

.navigation{
	align-self: center;
}

nav{
	background: #98FB98;
	border: 0.1px solid;
	justify-content: space-around;
	display: flex;
	width: 100%;
}

a:hover{
	color: #FF4500;
}

a:active{
	color: #8B0000;
}

a:visited{
	color: #006400;
}

.main > div{
	border: 1px solid;
	padding: 10px;
}

.li-list{
	background: lightcyan;
	border: 1px solid lightblue;
    border-radius: 4px;
	display: inline;
    font-family: 'El Messiri'; 
    font-style: italic;
    font-size: 14px; 
    margin-right: 15px; 
    padding: 4px;
}
	
img{
	max-width: 100%;
}

.image{
	text-align: center;
}

.image img{
	max-width: 300px;
}

#news{
	background: #E0FFFF;
}

#interview{
	background: #87CEEB;
}

#infographic{
	background: #6495ED;
}

#today{
	background: #FFDEAD;
}

#about-us{
	background: #98FB98;
}

.author{
	font-size: 14px;
	font-weight: bold;
}

.date{
	font-size: 10px;
}

.forma{
	background: #D8BFD8;
}

form label{
	max-width: 100%;
	margin: 10px 0;
    display: block;
}

.form-content{
	font-size: 18px;
	font-family: 'El Messiri';
}

.text-comment{
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
}

.text-name{
	border-radius: 4px;
	box-sizing: border-box;
	padding: 4px;
	width: 100%;
}

.choice{
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 18px;
	font-family: 'El Messiri';
	padding: 4px;
	width: 100%;
}

.boxing{
    height: 17px;
    width: 17px;
}

.send{
	background: lightblue;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: 'El Messiri';
	font-size: 18px;
	padding: 4px;
	width: 100%;
}

.forma form{
	margin: 0 0 20px;
}

footer{
	background: #008080;
	border: 0.1px solid;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.footer-navigation{
	align-self: center;
	font-weight: bold;
}

@media screen and (max-width: 664px) {
	.navigation li, .footer-navigation li{
		display: block;
		margin: 5px 0;
	}

	footer{
		box-sizing: border-box;
		padding: 5px;
	}

	.cat{
		margin-top: 40px;
	}

}

@media screen and (min-width: 741px) {
	.send{
		border-radius: 4px;
		float: right;
		margin: -40px 0;
		padding: 0.5px;
		width: 100px;	
	}
}